
nav a,button{
  min-width: 48px;
  min-height: 48px;
 
  }


  img,embed,object,video{
    max-width: 100%;
    
    }






.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }
  
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }
  
  .browser {
    background: rgb(128, 19, 19);
  }
  
  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
  }

article{
    background-color: #ffffff;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5; /* Remova o preenchimento para cobrir toda a janela*/
}



footer{

    background-color: #edf57b;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5;
}


figure{

text-align: right;
border-radius: 100%;
border: #8b4788;

}

nav{
    background-color: #e985cb;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5;
}


header{
    background-color: #7de48e;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5;
}
    


aside{
flex-direction: column-reverse;
    background-color: #e9858a;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5;
    
}

section{
    background-color: #752196;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5;
}




@media  screen and (min-width: 500px) {
  body{

    background-color: rgb(155, 17, 17);
    color: rgb(75, 27, 27);
    text-align: center;
  
    







    .all-browsers {
      margin: 0;
      padding: 5px;
      background-color: rgb(127, 134, 18);
    }
    
    .all-browsers > h1, .browser {
      margin: 10px;
      padding: 5px;
    }
    
    .browser {
      background: rgb(6, 25, 134);
    }
    
    .browser > h2, p {
      margin: 4px;
      font-size: 90%;
    }
  
  article{
      background-color: #c55c5c;
      margin: 5; /* Remova margens para cobrir toda a janela */
      padding: 5; /* Remova o preenchimento para cobrir toda a janela*/
  }
  
  
  
  footer{
  
      background-color: #077d92;
      margin: 5; /* Remova margens para cobrir toda a janela */
      padding: 5;
  }
  
  
  figure{
  
  text-align: right;
  border-radius: 100%;
  border: #8b4788;
  
  }
  
  nav{
      background-color: #310e27;
      margin: 5; /* Remova margens para cobrir toda a janela */
      padding: 5;
  }
  
  
  header{
      background-color: #122c17;
      margin: 5; /* Remova margens para cobrir toda a janela */
      padding: 5;
  }
      
  
  
  aside{
  flex-direction: column-reverse;
      background-color: #e9858a;
      margin: 5; /* Remova margens para cobrir toda a janela */
      padding: 5;
      
  }
  
  section{
      background-color: #752196;
      margin: 5; /* Remova margens para cobrir toda a janela */
      padding: 5;
  }
  
  













    
    }
    

}



@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
color: black;



  }
}