
.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }
  
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }
  
  .browser {
    background: white;
  }
  
  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
  }

article{
    background-color: #ffffff;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5; /* Remova o preenchimento para cobrir toda a janela*/
}



footer{

    background-color: #edf57b;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5;
}


figure{

text-align: right;
border-radius: 100%;
border: #8b4788;

}

nav{
    background-color: #e985cb;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5;
}


header{
    background-color: #7de48e;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5;
}
    
div.aside{

}


aside{
flex-direction: column-reverse;
    background-color: #e9858a;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5;
    
}

section{
    background-color: #752196;
    margin: 5; /* Remova margens para cobrir toda a janela */
    padding: 5;
}



img,embed,object,video{
max-width: 100%;

}
@media  screen and (max-width: 100%) {
  body{

    background-color: rgb(155, 17, 17);
    color: rgb(142, 116, 160);
    text-align: center;
    
    
    
    
    }
    


}

@media screen and (min-width:100px){

  body{

    background-color: #752196;
  }
  
    



}
nav a,button{
min-width: 48px;
min-height: 48px;

}